.navcustom1
{
    background-color: #337ba3;
   
}
.navcustom2
{
    background-color: #5aa0c5;
}
.dropdeposit {
    border: 2px solid orange;
    border-radius: 10px;
}

#steps ul
{
    margin: 80px 0;
}
#steps ul li
{
    width: 300px;
    float:left;
    padding-top: 140px;
    text-align: center;
    margin-right: 10px;
    
}
#steps h4
{
    text-transform: uppercase;
    margin-bottom: 20px;
}
#steps p
{
    margin-bottom: 20px;
}
#step-1
{
    background: url('../../images/steps-icon-1.png') no-repeat top center;
}
#step-2
{
    background: url('../../images/steps-icon-2.png') no-repeat top center;
    
}
#step-3
{
    background: url('../../images/steps-icon-3.png') no-repeat top center;
}

.clear
{
    clear: both;   
}

/* pour boutton du caroussel dans image*/
/* Container needed to position the button. Adjust the width as needed */
.containerr {
    position: relative;
    
  }
  
  /* Make the image responsive */
  .containerr img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .containerr .btnn {
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #119e99;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .containerr .btnn:hover {
    background-color: black;
  }   