<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{editDossier}" method="post" th:object="${dossier}">
			<h2>Fiche locataire</h2>
		<label> Date Entrée  </label> <input type="date" th:field="*{dateEntree}"/> <br>
		<label> Etablissement </label> <input type="text" th:field="*{etablissement}"/> <br>
			<h2> Garant </h2>
		<label> Garant nom </label> <input type="text" th:field="*{garantNom}"/> <br>
		<label> Garant Prenom </label> <input type="text" th:field="*{garantPrenom}"/> <br>
		<label> Garant Relation </label> 
		<select name="relation">
			<option value="père" >père</option>
			<option value="mère" >mère</option>
			<option value="frère" >frère</option>
			<option value="soeur" >soeur</option>
			<option value="autre" >autre</option>
		</select> <br>
		<input name="idAnnonce" type="hidden" th:value="${idAnnonce}"/>
		<button type="submit">Modifer</button>
	</form>

</body>
</html>