<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="template.html">
<head>
<meta charset="utf-8">
<title>Déposer annonce</title>
</head>
<body>
<div layout:fragment="pageContent" class="container">
	<h1>Informations générales</h1>
	<form th:action="@{saveAnnonce}" method="post" th:object="${annonce}" enctype="multipart/form-data">
		<label> Type Logement  </label> 
		<select name="typeLogement">
			<option th:each="t:${types}" th:value="${t.id}" th:text="${t.type}"></option>
		</select> <br>
		<label> Quartier </label>
		<select name="quartier">
			<option th:each="q:${quartiers}" th:value="${q.id}" th:text="${q.nom}"></option>
		</select> <br>
		<label> Adresse </label> <input type="text" th:field="*{adresse}"/> <br>
		<label> Titre de l'annonce </label> <input type="text" th:field="*{titre}"/> <br>
		<label> Prix </label> <input type="text" th:field="*{prix}"/> <br>
		<label> Tel </label> <input type="text" th:field="*{tel}"/> <br>
		<label> Etage </label> <input type="text" th:field="*{etage}"/> <br>
		<label> Meublé </label> <input type="text" th:field="*{meuble}"/> <br>
<!-- 			<select name="meuble"> -->
<!-- 				<option value="oui">Oui</option> -->
<!-- 				<option value="non">Non</option> -->
<!-- 			</select> <br> -->
		<label> Surface (m²) </label> <input type="number" th:field="*{surface}"/> <br>
		<label> Nombre de personnes </label> <input type="number" th:field="*{nombrePersonnes}"/> <br>
		<label> Description </label> <input type="text" th:field="*{description}"/> <br>
		<label>Photo:</label> <input type="file" name="picture"/> <br>
		<label>Photo 1:</label> <input type="file" name="picture1"/> <br>
		<label>Photo 2:</label> <input type="file" name="picture2"/> <br>
		<button type="submit">Enregistrer</button>
	</form>
</div>
</body>
</html>