<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/stylefooter.css">
    <link rel="stylesheet" href="../css/style.css">
   

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>StudEx</title>
  </head>
  <body>
    <!-- ----------------------------------HEADER---------------------------------------------- -->
    <div class="navcustom1 container-fluid">
        <div class="container">
            <nav class="navbar navbar-expand-sm  navbar-light"><a class="navbar-brand" href="#"><img src="../images/logo.png" alt=""></a></nav>
            <nav class="navcustom2 navbar navbar-expand-lg static-top">
            <div class="container">
                <!-- Items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="font-size: 20px; color: white; border-left: 0.5px solid white; border-right: 0.5px solid white;" th:href="@{/}">Acceuil</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="#" style="font-size: 20px; color: white; border-left: 0.5px solid white; border-right: 0.5px solid white;" th:href="@{/annonces}">Annonces</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/#steps" style="font-size: 20px; color: white; border-left: 0.5px solid white;;border-right: 0.5px solid white;">Comment ça marche ?</a>
                    </li>
                    
                </ul>

                <ul class="navbar-nav ml-auto">
                    <!-- Deposit -->
                    <li class="dropdeposit nav-item">
                        <a class="nav-link" href="/annonceur/formAnnonce0">
                        <div sec:authorize="hasRole('ROLE_ANNONCEUR')">
						  
                              <span style="font-size: 18px; color: white;">Déposer une annonce</span>
                         
						</div>           
                        </a> 
                    </li>
                    <!-- Connect -->
                    <li class="nav-item dropdown" style="border: 2px solid #5aa0c5;">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        
                        <span sec:authorize="!isAuthenticated()">
                            <span style="font-size: 18px; color: white;">S'authentifier</span>
                        </span>
                        <span sec:authorize="isAuthenticated()">
				        	<span style="font-size: 18px; color: white;" sec:authentication="name"></span>
				        </span>
                            
                        
                      </a>
                      <div class="dropdown-menu">
                      
                        <a class="dropdown-item" th:href="@{login}" sec:authorize="!isAuthenticated()">Se connecter</a>
                        <a class="dropdown-item" th:href="@{inscription}" sec:authorize="!isAuthenticated()">Créer un compte</a>
                        <div sec:authorize="hasRole('ROLE_ANNONCEUR')">
						  <a class="dropdown-item" th:href="@{http://localhost:8080/annonceur/home}" sec:authorize="isAuthenticated()">Espace Utilisateur</a>
						  <a class="dropdown-item" th:href="@{http://localhost:8080/annonceur/profile}" sec:authorize="isAuthenticated()">Mon Profile</a>	
						</div>
                        <div sec:authorize="hasRole('ROLE_ETUDIANT')">
						  <a class="dropdown-item" href="http://localhost:8080/etudiant/home" sec:authorize="isAuthenticated()">Espace Utilisateur</a>
						  <a class="dropdown-item" href="http://localhost:8080/etudiant/profile" sec:authorize="isAuthenticated()">Mon Profile</a>	
						  <!--a class="dropdown-item" th:href="@{profile}" sec:authorize="isAuthenticated()">Mon Profile</a-->	
						</div>
						<div sec:authorize="hasRole('ROLE_ADMIN')">
						  <a class="dropdown-item" href="http://localhost:8080/admin/home" sec:authorize="isAuthenticated()">Espace Administrateur</a>
						  <!--a class="dropdown-item" th:href="@{profile}" sec:authorize="isAuthenticated()">Mon Profile</a-->
						</div>
                        
                        <a class="dropdown-item" th:href="@{logout}" sec:authorize="isAuthenticated()">Se Déconnecter</a>

                      </div>
                    </li>
                  </ul>

            </div>
            </nav>
        </div>
    </div><br><br>
    <!--------------------------------------------------------------------------->

    <section layout:fragment="pageContent">
	
		<!--ICI OU ON AJOUTE LES AUTRES PAGES-->

	</section>




    <!----------------------------------FOOTER------------------------------->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Entreprise</h4>
                    <ul>
                        <li><a href="#">A propos</a></li>
                        <li><a href="#">Nos services</a></li>
                        
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Trouver l'aide</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Comment ça marche ?</a></li>
                      
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Liens</h4>
                    
                </div>
                <div class="footer-col">
                    <h4>suivez nous</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-------------------------------------------------------->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>